<div class="col-md-6">
  <div class="blockquote-box clearfix">
      <div class="square pull-left">
      </div>
      <h4>
        <%=t.name%></h4>
      <p>
        <%=t.message%>
      </p>
  </div>
</div>