<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>
  	<style>
      body
      {
      background: url('/assets/latest2.jpg');
          /* Center and scale the image nicely */
       
          /* Center and scale the image nicely */
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          z-index: 100;
      }
      .fact{
        height:800px;
        width:100%;background-size:100%; background-repeat: no-repeat;'
      }
  	</style>
	</head>
  <body>
    <div class="fact" style='background-image: url(/assets/latest2.jpg);' >
      <div class="row">
        <br>
        <div class="col-lg-5">
          <div id="imageCarousel" class="carousel slide" data-interval="5000"data-ride="carousel" data-pause="hover" data-wrap="true">
          </div>
        </div>
        <div class="col-lg-6 col-lg-offset-1">
         <!--  <h1 class="text-center">Anndefined</h1></p>
          <h3 class="text-center">concepts</h2> -->
        </div>
      </div>
    </div>
  </body>
</html>