<style>
  body
  {
  background-color:white;
  }
  .fact{
    height:800px;
    width:100%;background-size:100%; background-repeat: no-repeat;'
  }
</style>
  
<body>
  <div class="fact" style='background-image: url(/assets/latest2.jpg);' >
    <div class="row">
      <br>
      <div class="col-lg-5">
         <div id="imageCarousel" class="carousel slide" data-interval="5000"data-ride="carousel" data-pause="hover" data-wrap="true">                  
      </div>
    </div>
      <div class="col-lg-6 col-lg-offset-1">
        <h1 class="text-center">Anndefined</h1></p>
        <h4 class="text-center">Facts</h4>
      </div>
    </div>
  </div>
</body>  

  
<script>
	$(document).ready(function(){
  	$("#p1").hide();
  	$('.dropdown-toggle').dropdown() 
      $("#product").mouseover(function(){
  	  $("#p1").show();
    });
          
    $("#product").mouseout(function(){
      $("#p1").hide();
    });
  });
</script>
  