<!DOCTYPE html>
<html>
<head>
    <title></title>
<style>
.height-full {
  height: 100vh;
}
body { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bodyClassOnHover
{ 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: covedr;
  background-size: cover;
}
.bodyClassOnHoverOut
{
background: url('5.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
padding: 25px;
}
#loader {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.large-background {
    background: url('/assets/new_desktop.jpg') no-repeat;
}
</style> 
     
  <script>

  $(document).ready(function() {
    $('body').addClass('large-background');
});
function SetImages(img)
{
//$("#maindiv").css("background-image","url("+ img   +")");
$("body").css("background-image","url("+ img  +")");
$( "body" ).addClass( "bodyClassOnHover" );
}
function RemoveImage()
{
$( "body" ).removeClass("bodyClassOnHover");
$("body").css("background-image","url(/assets/new_desktop.jpg)");
}
  </script>
  <script>
var myVar;

function myFunction() {
    myVar = setTimeout(showPage, 3000);
  $("#div3").fadeIn(3000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("maindiv").style.display = "block";
  $("body").css("background-color", "#f5f5f5");
 
}


</script>
</head>
 <body onload="myFunction()"> 
<div id="loader" style="background-image:url('/assets/desktop.jpg')"></div>
<div id="maindiv" class="container-fluid height-full" >
<div class="row">
<br>
<br>
<br>
<br>
<div class="col-lg-6">
<ul class="nav-list muted"style="list-style-type: none;">
 <li style="text-align:center; font-size: 50px; line-height: 60px;"><a href="/homes/homepage" onmouseout="RemoveImage()" onmouseover="SetImages('/assets/latest.jpg')"  style="text-decoration:none;color:black;">Home</li>
 <li style="text-align:center;font-color:black; font-size: 50px; line-height: 60px;"><a href="/homes/concept" style="color:black;text-decoration:none;" onmouseout="RemoveImage()" onmouseover="SetImages('/assets/latest2.jpg')">Concept</a></li>
 <li style="text-align:center;color:black;font-size: 50px; line-height: 60px;" ><a href="/homes/restro" style="color:black;text-decoration:none;" onmouseout="RemoveImage()" onmouseover="SetImages('/assets/latest3.jpg')" id="I2" >Products</a></li>
 <!-- <li style="text-align:center; font-color:black; font-size: 50px; line-height: 60px;"><a href="/homes/receipies" style="color:black;text-decoration:none;" onmouseout="RemoveImage()" onmouseover="SetImages('/assets/I3.jpg')">Recipies</a></li>-->
 <li style="text-align:center; font-color:black; font-size: 50px; line-height: 60px;"><a href="/homes/facts" style="color:black;text-decoration:none;" onmouseout="RemoveImage()" onmouseover="SetImages('/assets/latest4.jpg')">Facts</a></li>
 <li style="text-align:center; font-color:black; font-size: 50px; line-height: 60px;"><a href="/homes/historic_value" style="color:black;text-decoration:none;" onmouseout="RemoveImage()" onmouseover="SetImages('/assets/latest5.jpg')">Historical value</a></li>
 <!--<li style="text-align:center; font-color:black; font-size: 50px; line-height: 60px;"><a href="/homes/contact_us" style="color:black;text-decoration:none;" onmouseout="RemoveImage()" onmouseover="SetImages('/assets/I6.jpg')">Contacts</a></li>
 <li style="text-align:center; font-color:black; font-size: 50px; line-height: 60px;"><a href="#" style="color:black;text-decoration:none;" onmouseout="RemoveImage()" onmouseover="SetImages('/assets/I6.jpg')"></a></li> -->
  
   <li style="text-align:center; font-color:black; font-size: 40px; line-height: 50px;"><h1>Anndefined</h1></li>
 </ul>
</div>
</div>
</div>
</body>
</html>
