
<div class="container"style="height:100%;width:100%;background-color:white;">
	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-3"><h1><a href="/homes/homepage" style="color:black;"><img src="/assets/undefined.jpg" style = "height:40px; width:140px;"></a></h1></div>
				<div class="col-lg-6">
					<br>
					<ul  class="nav nav-pills">
						<li><a style="color:black; size:20" href="/homes/homepage">Home</a></li>
						<li class="dropdown"><a  href="/homes/about_us" style="color:black; size:20">Concept </a></li>
					  <li class="dropdown"><a href="/homes/restro" style="color:black; size:20">Products
					  </a>
					  <li class="dropdown"><a href="/homes/restro" style="color:black; size:20">Testimonials
					  </a>
					  </li> 	    
				  </ul>
				</div>
				<br>
				<%unless params["controller"].include?("devise")%>
					<div class="col-lg-1 col-lg-offset-1">
					<% if user_signed_in? %>
					  <p></p>
					  <%= link_to( destroy_user_session_path, method: :delete)  do %>
						  <span class="glyphicon glyphicon-log-out" style="color:black;"></span>
					  <% end %>
				  <% else %>
				    <p></p>
				    <%= link_to( new_user_registration_path)  do %>
					    <span class="glyphicon glyphicon-user" style="color:black;"></span>
					  <% end %>  
				  <% end %>
          &nbsp;&nbsp;&nbsp;&nbsp;
					<a href="#">
					  <span class="glyphicon glyphicon-shopping-cart" style="color:black;"></span>
					</a>
			    </div>
        <%end%>
			</div>		
		</div>
	</div>
</div>





<style>
	.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
	}
	.dropdown-menu > li > a:hover {
    color: #fff;
  background-color: orange;
  border-color: #fff;
    background-image: none;
}
	</style>
	